.component {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;

  height: 100%;

  /*
   * Grid container should only control the track sizes(align/justify-icontent),
   * not item sizes(align/justify-items).
   * 
   */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  background-color: #fcfcfcff;
}
